
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');



:root{

    --bg-color:#d95450;
    --transparent-color:#DD6662;
    --hover-color:#bc5753;


    --primary-font: 'M PLUS Rounded 1c', sans-serif;
    --secondary-font: Arial, sans-serif;

    --fs-xs: 0.8rem;
    --fs-s: 1rem;
    --fs-m: 1.5rem;
    --fs-l: 2.5rem;
    --fs-xl: 4rem;
}


ul{
    padding: 0;
    margin:0;
}

.redWrapper{
    display: grid;
    grid-template-columns: 1fr 40% 1fr;
    background-color: var(--bg-color);
    height: 70vh;
}

.middleColumn{
    grid-column: 2;
}

header nav ul{
    display: flex;
gap: 1rem;
border-bottom: 2px solid var(--hover-color);

}


header nav ul li:first-child {
    margin-right: auto;
  }

header ul{
    list-style: none;
    padding: 2rem;
}


.navBox{
    background-color:var(--transparent-color);
    padding:0.5rem 2rem 0.5rem 2rem ;
    border-radius: 0.5rem;
}

.logo{
    text-decoration: none;
    font-family:var(--primary-font);
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    opacity: 100%; 
}
.aLink{
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 1.2rem;
    color: #f6dcda;
    opacity: 100%;  
}

.timerContainer{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.timer{
    background-color:var(--transparent-color);
    padding: 2rem;
    height: 30rem;
    width: 50rem;
    border-radius: 0.7rem;
}



.timer nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
}


.timerLink:hover{
    background-color: var(--hover-color);
    padding: 0.7rem;
    border-radius: 0.7rem;
}

.timerLink{
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight:lighter;
    font-size: 1.8rem;
    color: white;
    opacity: 100%; 
}

.timerFont{
    font-family: var(--primary-font);
    font-size: 8rem;
    text-align: center;
    color: white;
}


.startButton{
    display: flex;
    justify-content: center;
}

.startButton button{
    background-color: white;
    color: red;
    height: 6rem;
    width: 20rem;
    border: none;
    box-shadow: 4px 4px 0px #EBEBEB;
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: bold;
    font-style: round;
    border-radius: 00.7rem;
}

.startButton button:hover{
    cursor: pointer;
}