
:root{

    --bg-color:#d95450;
    --transparent-color:#DD6662;
    --hover-color:#bc5753;


    --primary-font: Arial, sans-serif;

    --fs-xs: 0.8rem;
    --fs-s: 1rem;
    --fs-m: 1.5rem;
    --fs-l: 2.5rem;
    --fs-xl: 4rem;
}

.redWrapper{
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    background-color: red;
    height: 70vh;
}

.middleColumn{
    grid-column: 2;
}

header nav ul{
    display: flex;
gap: 1rem;

}


header nav ul li:first-child {
    margin-right: auto;
  }

header ul{
    list-style: none;
}


.navBox{
    background-color:rgb(255,255,255,0.7);
    padding: 0.5rem;
}

.logo{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    color: white;
    opacity: 100%; 
}
.aLink{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: white;
    opacity: 100%;  
}